{% extends 'base.html' %}

{% block content %}
<h2 style='text-align: center;font-size: 22x;' >Welcome</h2>
<h2 style='text-align: left;'>
<br> &emsp;&emsp;Electrical engineer with 4 years of experience in supervising production lines in the private sector. 
Since I can remember, I have been passionate about IT and electrics.
Also my passion is learning and skills new skills and sharing knowledge with others.<br>
&emsp;&emsp;I am an inquisitive, optimistic and sincere person, having no problem with making new friendships.
I systematically raise my qualifications and deepen my knowledge. In my spare time, I practice Python at Codewars.com and deepen my knowledge of SBC (Raspberry, Odroid, Odyssey) .
<br>
On the last day of my life I would see the Lord of the rings again :-)</h2>
{% endblock %}
{% block title %} About me {% endblock %}